<%- include("partials/header")%>
<div class="container">
	<h1 style="text-align:center; text-transform: capitalize">Comment about <%= camp.name%></h1>
	<div style="width:30% ;margin:25px auto;">
		<form action="/campgrounds/<%=camp._id%>/comments" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="comment[text]" placeholder="Text" required>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-lg btn-primary btn-block">
			</div>
			
		</form>
		<a href="/campgrounds">Go Back!</a>
	</div>
	
</div>

<%- include("partials/footer")%>
